// variáveis
$small-bp: 540px;
$medium-bp: 768px;
$large-bp: 970px;

//button colors
$button-color: #ededed; 
$button-hover: #dfdfdf;

// text colors
$primary-text-color: #333;
$primary-hover-color: darken($primary-text-color, 15%);

// ======================================
body {
    margin: 0;
    color: $primary-text-color;
    font-family: neue-haas-unica, sans-serif;
    @media screen and (max-width: $medium-bp)
    {
        font-size: 16px;
    }
}

.container {
    max-width: 95%;
    @media screen and (min-width: $medium-bp)
    {
        max-width: 800px; 
    }
    margin: auto;
}

.wrap{
    margin: 4em 1em 0 1em;
    @media screen and (min-width: $medium-bp)
    {
        margin: 4em 1em;;
    }
}

.homepage-container {
    margin: 1em;
    font-size: 1em;
    @media screen and (min-width: $medium-bp)
    {
        margin: 1em 5em;
    }

    span {
        a {
            color: $primary-text-color;
            text-decoration: none;
            transition: 1s;
            &:hover{
                color:$primary-hover-color; 
            }
        }
    }
}

.main-nav{
    position: fixed;
    top: 0;
    background-color: white;;
    box-shadow: 1px 1px 3px 1px lighten($primary-text-color, 30%);
    min-height: 50px;
    min-width: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#chapter-container{
    display: none;
    max-height: 90vh;
    min-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    h2 {
        font-size: 1em;
        padding: 0 1em;
        @media screen and (min-width: $medium-bp)
        {
            padding: 0em 4em;
        }
    }
}

.chapter-link{
    list-style: none;;
    a{
        padding: 0 1em;
        @media screen and (min-width: $medium-bp)
        {
            padding: 0em 5em;
        }
        margin: 0.3em 0;
        color: $primary-text-color;
        width: 100%;
        display: block;
        background-color: white;
        text-decoration: none;
        &:hover{
            color: $primary-hover-color;
            background-color: #eee;
        }
    }
}

.chapter-list{
    padding: 0;
}

#hamburger{
    display: block;
    position: absolute;
    margin: 1.5em;
    height: 18px;
    width: 26px;
    right: 0%;
    top: 0%;
    transform:translateY(-50%);
    @media screen and (min-width: $medium-bp)
    {
        margin: 1.5em 5em;
    }
}

#hamburger .line{
    width: 36px;
    height: 2px;
    display: block;
    background-color: #000;
    position: absolute;
    left: 0;
    transition: all 0.3s cubic-bezier(0.58, 0, 0.58, 1);
}

#hamburger .line:nth-child(1) {
  top: 0;
  width: 26px;
}
#hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
  width: 26px;
}
#hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 26px;
}

.pagination-selector {
    display: flex;
    justify-content: space-between;
}

.chapter-btn {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color: $button-color;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius:6px;
    border:1px solid #dcdcdc;
    transition: 1s;
    color: $primary-text-color;
    display:inline-block;
    text-decoration: none;
	font-size:15px;
    font-weight:bold;
	padding:6px 24px;
	text-shadow:0px 1px 0px #ffffff;
    cursor:pointer;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0.5em;
    &:hover {
        background-color: $button-hover;
        color: $primary-hover-color;
	    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);

    }
    &:active{
        position:relative;
	    top:1px;
    }

}

.nav-nightmode{
    position: fixed;
    right: 0;
    top: 80%;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;

    svg{
        width: 30px;
        fill: white;
        top: 2.5px;
        position: relative;
    }

    svg:last-child{
        display: none;
    }
}

.night{
    background-color: white;
    color: black;
    svg:first-child{
        display: none;
    }
    svg:last-child{
        display: inherit;
        fill: black;
    }
}

.nightmode{
    color: white;
    background-color: #0e0e10;
}

.footnote{
    font-size: small;
    font-style: italic;
}
a.footnote{
    font-size:medium;
    color: blue;
    text-decoration: none;
    font-style: bold;
}