<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
		<link rel="stylesheet" href="/_site/assets/css/styles.css">
		<link rel="stylesheet" href="/assets/css/fontawesome.min.css">
		<link rel="stylesheet" href="/assets/css/faicons.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://use.typekit.net/qxv6ejt.css">
	</head>
	<body class="lightmode">
		{% include navigation.html %}
		<div class="wrap">
			<div class="container">
				{{ content }}
			</div>
		</div>
  </body>
	<script type="text/javascript" src="/assets/js/script.js"></script>
</html>
